<div class="float-left p-3 relative itemTile select-none" [ngStyle]="{ opacity: (isHoverTarget || selected)? 1 : 0.8, }" (mouseleave)="isHoverTarget = false"  [@itemTiles]> <!--  (contextmenu)="ctxMenuRequest($event, item, root)"> -->
    
    <input [(ngModel)]="selected" (ngModelChange)="selectValChanged($event)" type="checkbox" class="absolute h-10 w-10 cursor-pointer select-box" style="z-index: 2; top:-1rem; left: -1rem;"  [hidden]="(!selected && !isHoverTarget) || item.type=='domain'">

    <button (mouseenter)="isHoverTarget =true"  *ngIf="item.type!='file'" [routerLink]='["/explore/"]'  class="bg-slate-800 overflow-hidden hover:bg-slate-700 w-full h-full m-auto align-middle  rounded-3xl flex flex-col itemTileMain" [queryParams]="{domain:root, dir:get_url_dir()}" >
        
        <i *ngIf="item.type=='folder'" class="far fa-folder flex-1 p-3 h-5" style="color: rgb(255, 249, 164);"></i>
        <i *ngIf="item.type=='domain'" class="fas fa-code  flex-1 p-3 h-5"></i>
        <p class="text-center p-3 flex-1 break-normal">{{getName()}}</p>
    </button>

    <button (mouseenter)="isHoverTarget =true"  *ngIf="item.type=='file'" (click)="get_file()"             class="bg-slate-800 overflow-hidden w-full h-full m-auto align-middle hover:bg-slate-700 rounded-3xl flex flex-col itemTileMain">
        <i class="far fa-file p-3 flex-1 h-5"></i>
        <p class="text-center p-3 flex-1">{{getName()}}</p>
    </button>

</div>