<div id="header" class="select-none">

    <a routerLink="/"><img src="./../../../assets/images/header_logo.png" class="h-full m-auto" alt="logo" id="headerLogo"></a>
    
    <nav class="h-full">
        <button class="headerTile" (click)="logout()">
            <i class="fa-sign-out fas"></i> Logout
        </button>
        <!-- <ul>
            <li class="headerTile"><a href="">Page 1</a></li>
            <li class="headerTile">Page 2</li>
            <li class="headerTile">Page 3</li>
        </ul> -->
    </nav>

</div>