<div *ngIf="opened" class="fixed min-h-min min-w-min" style=" color: black; background-color: aliceblue; min-width: 20rem; bottom: 0; right: 0;" [@toggle]>    
    <div class="p-5 bg-slate-300 justify-center flex">
        
        <div class="flex-1 text-xl text-slate-700">Details</div>
        
        <div class=" text-pink-500 flex-shrink-0 hover:text-pink-800">
            <button (click)="close()">
                <i class="fa-close fas h-7 w-7"></i>
            </button>
        </div>


    </div>  

    <div *ngIf="!loaded">
        <mat-grid-list cols=3 rowHeight="1:1">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
                <mat-spinner></mat-spinner>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="loaded" class="px-5 py-4">
        <div class="items-center">
            <i [ngClass]="details.type=='file'? 'fa-file':'fa-folder'"  class="text-slate-800 far h-20 w-full" ></i>
        </div>

        <p class="text-center">
            {{details.name}}
            <br>
            <span class="text-base text-center text-slate-500">
                {{details.type}}
            </span>
        </p>
        

        <br>
        <table class="w-full">
            <tr>
                <th align="left">
                    Size
                </th>
                <td align="justify">
                    {{calcSize(details.size)}}
                </td>
            </tr>

            <tr>
                <th align="left">
                    Created on
                </th>
                <td align="justify">
                    {{details.created}}
                </td>
            </tr>

            <tr>
                <th align="left">
                    Last Modified
                </th>
                <td align="justify">
                    {{details.modified}}
                </td>
            </tr>

            <tr>
                <th align="left">
                    Last Accessed
                </th>
                <td align="justify">
                    {{details.accessed}}
                </td>
            </tr>
            
        </table>
    </div>
</div>