<div class="absolute translate-x-1/2 translate-y-1/2  outline-1 rounded-2xl outline-double content-stretch w-1/2 p-10">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <span class="formTitle">Login</span>  <span class="float-right">   or <a class="underline-offset-8 underline" routerLink="/register">Register</a> </span>        
        
        <br>

        <mat-form-field class="mt-5 w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="abc@somemail.com" formControlName="email" #email>
            <mat-error *ngIf="this.loginForm.controls['email'].invalid">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="mt-5 w-full">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidepass? 'password': 'text'" formControlName="password" #password>
            <button mat-icon-button matSuffix (click)="hidepass = !hidepass" color="primary">
                <mat-icon>{{hidepass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="this.loginForm.controls['password'].invalid">Enter a valid password</mat-error>
        </mat-form-field>

        <mat-error *ngIf="forbidden">Maximum invalid login attempts exceeded.<br><span class="underline underline-offset-4"><a routerLink="/resetpass">Reset password</a></span> to continue</mat-error>
        <mat-error *ngIf="invalidCreds">Credentials don't match</mat-error>
        
        <!-- <label class="p-3 flex">Email</label> -->
        <!-- <input formControlName="email" type="text" class="p-3 w-full flex" name="email" id="email"> -->
        <!-- <label class="p-3 flex">Password</label>
        <input formControlName="password" type="password" class="p-3 w-full flex" name="password" id="pass">
        <br> -->
        <!-- <ul class="bg-red-700">
            <li *ngIf="forbidden" id="credWarning" class="inputWarnings">
                <i class="fa-stop fas"></i>  Maximum invalid login attempts exceeded.<br><span class="underline underline-offset-4"><a routerLink="/resetpass">Reset password</a></span> to continue
            </li>
            <li *ngIf="this.loginForm.controls['email'].invalid && this.loginForm.controls['email'].touched" id="emailWarning" class="inputWarnings">
                <i class="fa-stop fas"></i> Enter a valid email
            </li>
            <li *ngIf="this.loginForm.controls['password'].invalid && this.loginForm.controls['password'].touched" id="passWordWarning" class="inputWarnings">
                <i class="fa-stop fas"></i> Password must be more than 1 character
            </li>
            <li *ngIf="invalidCreds" id="credWarning" class="inputWarnings">
                <i class="fa-stop fas"></i>  Credentials don't Match
            </li>
        </ul>-->
        
        
        <button mat-raised-button [color]="loginForm['invalid']? 'warn' : 'primary'" class="outline-4 outline-dotted font-bold p-3 w-full my-5" type="submit">Submit</button> 
        <p class="underline-offset-8 underline mt-9"><a routerLink="/resetpass">Forgot Password ?</a></p>
    </form>

</div>