<app-navbar></app-navbar>
<app-context-menu #contextMenuContent [params]="params" (reloadView)="make_api_call()" (newCancellableTask)="activeTasks.push($event)" (completedCancellableTask)="completedReq($event)"></app-context-menu>

<div class="mt-5 mx-5">
    <div class="py-5 flex" *ngIf="!errorWhileLoading">
        <app-breadcrumb [currDomain]="root"></app-breadcrumb>
        <app-upload-btn [params]="params" (reloadView)="make_api_call()"></app-upload-btn>
    </div>

    <mat-grid-list [cols]="itemCols" rowHeight="1:1" gutterSize="0.5rem">
        <mat-grid-tile *ngFor="let i of directories;" role="directory">
            <app-item 
            [item]='i' 
            [root]="params['domain']" 
            (contextmenu)='rtItemMenu($event, i, params["domain"])'  
            (multi_select)=" $event ? multi_targets.push({'item':i, 'root': params['domain']})  : multi_targets.splice( multi_targets.indexOf({'item':i, 'root': params['domain']}), 1)">
            </app-item>
        </mat-grid-tile>

    </mat-grid-list>

<!-- 
    <div class="bg-slate-950" *ngIf="!errorWhileLoading">
        <ng-container *ngFor="let i of directories;">
            <app-item 
                [item]='i' 
                [root]="params['domain']" 
                (contextmenu)='rtItemMenu($event, i, params["domain"])'  
                (multi_select)=" $event ? multi_targets.push({'item':i, 'root': params['domain']})  : multi_targets.splice( multi_targets.indexOf({'item':i, 'root': params['domain']}), 1)">
            </app-item>

        </ng-container>
    </div> -->

    <div *ngIf="hasLoaded && (isEmpty || errorWhileLoading)" class="bg-slate-700 outline-2 outline-dashed mt-10 rounded-3xl">
        <p *ngIf="errorWhileLoading" class="p-10">
            Error while loading data
        </p>

        <p *ngIf="isEmpty" class="p-10">
            Empty Directory
        </p>
    </div>

</div>


<div class="fixed w-1/4 bottom-10 right-10">
    <mat-accordion>
        <mat-expansion-panel *ngIf="activeTasks.length>0" expanded="true">
            <mat-expansion-panel-header>
                Progress
            </mat-expansion-panel-header>
            
            <app-task-progress-card *ngFor="let task of activeTasks" [task]="task" (onTaskCancel)="sendCancelReq($event)"></app-task-progress-card>


        </mat-expansion-panel>
    </mat-accordion>
</div>

